@page
@model Patient_Tracker.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

<html>
<body>
    @if (!Model.ShowNavbar)
    {
        <style>
            .navbar {
                display: none;
            }
        </style>
    }

    <h1>Welcome to the Patient Tracker Application</h1>
    <div class="form-login">
        <p>Please enter your email and password to log in:</p>

        <form method="post">
            <div class="form-floating mb-3 text-center">
                <input asp-for=Doctor.Email type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input asp-for=Doctor.Password type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
                <div id="caps-lock-warning" style="color: red; display: none;">Caps Lock is enabled</div>
            </div>
            <br/>
            <button type="submit" class="btn">Log In</button>
        </form>
    </div>

    <script>
        const capsLockWarning = document.getElementById('caps-lock-warning');
        const passwordInput = document.querySelector('input[type="password"]');

        passwordInput.addEventListener('keyup', function (event) {
            if (event.getModifierState('CapsLock')) {
                capsLockWarning.style.display = 'block';
            } else {
                capsLockWarning.style.display = 'none';
            }
        });
    </script>
</body>

</html>