@page
@model Patient_Tracker.Pages.Doctors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<body>
    <div class="text-center" style="padding-block: 20px;">
        <div class="align-content-center text-black">
            <h1>Create Doctor Profile</h1>
        </div>
    </div>

    <form method="post">
        <div class="form-group mt-lg-4 mx-auto col-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.Id" />


            <div class="form-group text-center">
                <label asp-for="Doctor.LicenceNumber" class="control-label"><b>Licence Number</b></label>
                <input asp-for="Doctor.LicenceNumber" type="text" class="form-control text-center" />
                <span asp-validation-for="Doctor.LicenceNumber" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.DFirstName" class="control-label"><b>First Name</b></label>
                <input asp-for="Doctor.DFirstName" type="text" class="form-control text-center" />
                <span asp-validation-for="Doctor.DFirstName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.DLastName" class="control-label"><b>Last Name</b></label>
                <input asp-for="Doctor.DLastName" type="text" class="form-control text-center" />
                <span asp-validation-for="Doctor.DLastName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.Address" class="control-label"><b>Address</b></label>
                <input asp-for="Doctor.Address" type="text" class="form-control text-center" />
                <span asp-validation-for="Doctor.Address" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.Email" class="control-label"><b>Email</b></label>
                <input asp-for="Doctor.Email" type="text" class="form-control text-center" />
                <span asp-validation-for="Doctor.Email" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.Password" class="control-label"><b>Password</b></label>
                <input asp-for="Doctor.Password" class="form-control text-center" type="password" />
                <span asp-validation-for="Doctor.Password" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-success btn-outline-light mt-lg-2 text-center">
                <a asp-page="./Index" class="btn btn-primary btn-outline-light mt-lg-2 text-center">Back to List</a>
            </div>
        </div>
    </form>
</body>