@page
@model Patient_Tracker.Pages.Doctors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Doctor.DFirstName" class="control-label">First Name</label>
                <input asp-for="Doctor.DFirstName" class="form-control" />
                <span asp-validation-for="Doctor.DFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.DLastName" class="control-label">Last Name</label>
                <input asp-for="Doctor.DLastName" class="form-control" />
                <span asp-validation-for="Doctor.DLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Email" class="control-label"></label>
                <input asp-for="Doctor.Email" class="form-control" />
                <span asp-validation-for="Doctor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Address" class="control-label"></label>
                <input asp-for="Doctor.Address" class="form-control" />
                <span asp-validation-for="Doctor.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
