@page
@model Patient_Tracker.Pages.Doctors.EditModel

@{
    ViewData["Title"] = "Edit Doctors";
}

<body>
    <div class="text-center" style="padding-block: 20px;">
        <div class="align-content-center text-black">
            <h1>Edit Doctor Profile</h1>
        </div>
    </div>

    <form method="post">
        <div class="form-group mt-lg-4 mx-auto col-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.Id" />

            <div class="form-group text-center">
                <label asp-for="Doctor.DFirstName" class="control-label"><h4>First Name</h4></label>
                <input asp-for="Doctor.DFirstName" class="form-control text-center" placeholder="Enter First Name" />
                <span asp-validation-for="Doctor.DFirstName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.DLastName" class="control-label"><h4>Last Name</h4></label>
                <input asp-for="Doctor.DLastName" class="form-control text-center" placeholder="Enter Last Name" />
                <span asp-validation-for="Doctor.DLastName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.Address" class="control-label"><h4>Practice Address</h4></label>
                <input asp-for="Doctor.Address" class="form-control text-center" placeholder="Enter Practice Address" />
                <span asp-validation-for="Doctor.Address" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.Email" class="control-label"><h4>Email</h4></label>
                <input asp-for="Doctor.Email" class="form-control text-center" placeholder="Enter Email" />
                <span asp-validation-for="Doctor.Email" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.LicenceNumber" class="control-label"><h4>Medical Licence</h4></label>
                <input asp-for="Doctor.LicenceNumber" class="form-control text-center" placeholder="Enter Medical Licence Number" />
                <span asp-validation-for="Doctor.LicenceNumber" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Doctor.Password" class="control-label"><h4>Password</h4></label>
                <input asp-for="Doctor.Password" class="form-control text-center" placeholder="Enter Password" type="password" />
                <span asp-validation-for="Doctor.Password" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-success btn-outline-light mt-lg-2 text-center">
                <a asp-page="./Index" class="btn-back">Back to List</a>
            </div>
        </div>
    </form>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
