@page
@model Patient_Tracker.Pages.Prescriptions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<body>
    <div class="form-patient">
        <h3>Create Patient Prescription</h3>

        <div class="center-content">
            <label asp-for="Prescription.PrescriptionPPS" class="control-label"></label>
            <label class="col-sm-8">@Html.DisplayFor(model => model.Patient.PPSNo)</label>
        </div>

        <div class="center-content">
            <label asp-for="Prescription.PatientsName" class="control-label"></label>
            <label class="col-sm-8">@Html.DisplayFor(model => model.Patient.FirstName) @Html.DisplayFor(model => model.Patient.LastName)</label>
        </div> 
                
        <form method="post">
            <input type="hidden" asp-for="Prescription.PrescriptionID" />
            <div class="form-floating mb-3 content-center">
                <input asp-for=Prescription.Medication class="form-control" id="floatingInput" placeholder="" required style="height:50px">
                <label for="floatingInput">Medication</label>
            </div>

            <div class="form-floating mb-3 content-center">
                <input asp-for=Prescription.Dosage class="form-control" id="floatingInput" placeholder="" required style="height:50px">
                <label for="floatingInput">Dosage</label>
            </div>

            <div class="form-floating mb-3 content-center">
                <input asp-for=Prescription.Quantity class="form-control" id="floatingInput" placeholder="" required style="height:50px">
                <label for="floatingInput">Quantity</label>
            </div>

            <div class="form-floating mb-3 content-center">
                <input asp-for=Prescription.Date class="form-control" id="floatingInput" value="@DateTime.UtcNow" required style="height:50px">
                <label for="floatingInput">Date & Time</label>
            </div>

            <div class="form-floating mb-3 content-center">
                <input asp-for=Prescription.Doctor class="form-control" id="floatingInput" placeholder="" required style="height:50px">
                <label for="floatingInput">Doctor</label>
            </div>

            <div class="form-floating mb-3 content-center">
                <input asp-for=Prescription.Notes class="form-control" id="floatingInput" placeholder="" required style="height:50px">
                <label for="floatingInput">Notes</label>
            </div>

            <input type="submit" value="Submit" class="btn"> |
            <a asp-page="/Patients/Index" class="btn" style="background-color:blue">Back to List</a>
        </form>
    </div>

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
