@page
@model Patient_Tracker.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Appointment Details</h1>

<div class="container center-content">
    <hr />
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Name:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Booking.BookingName)</dd>
            <dt class="col-sm-4">Date:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Booking.BookingDate)</dd>
            <dt class="col-sm-4">Time:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Booking.BookingTime)</dd>
        </dl>
    </div>
    <div class="form-group">
        <a asp-page="./Edit" asp-route-id="@Model.Booking?.BookingID" class="btn">Edit</a> |
        <a asp-page="./Index" class="btn" style="background-color:blue">Back to List</a>
    </div>
</div>
