@page
@model Patient_Tracker.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit Booking";
}

<body>
    <form method="post">
        <div class="form-booking">
            <h3>Edit Appointment</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingID" />

            <div class="form-group text-center">
                <div class="form-floating mb-3 content-center">
                    <input asp-for=Booking.BookingPPS class="form-control" id="PPS" placeholder="PPS Number" required style="height:50px" maxlength="8">
                    <label for="PPS">PPS No</label>
                </div>

                <label asp-for="Booking.BookingDate" class="control-label"><b>Date</b></label>
                <div class='input-group date' id='date'>
                    <input asp-for="Booking.BookingDate" type="text" class="form-control text-center" value="@DateTime.Now.ToString("DD/MM/YYYY")" style="height:50px" />
                    <span class="input-group-addon glyphicon glyphicon-calendar text-center" />
                </div>

                <label asp-for="Booking.BookingTime" class="control-label"><b>Time</b></label>
                <div class='input-group time' id='time'>
                    <input asp-for="Booking.BookingTime" type="text" class="form-control text-center" value="@DateTime.Now.ToString("DD/MM/YYYY")" style="height:50px" />
                    <span class="input-group-addon glyphicon glyphicon-dashboard text-center" />
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn">
                    <a asp-page="./Index" class="btn" style="background-color:blue">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">


    <script>
        $(function () {

            var now = new Date();
            now.setHours(7);
            now.setMinutes(0);

            $('#date').datetimepicker({
                format: 'DD/MM/YYYY',
                defaultDate: now,
                minDate: now
            });

            $('#time').datetimepicker({
                stepping: 15,
                format: 'hh:mm a',
                defaultDate: now,
                minDate: now
            });
        });

        function getSelectedDateTime() {
            var selectedDate = $('#date').data('DateTimePicker').date().format('DD/MM/YYYY');
            var selectedTime = $('#time').data('DateTimePicker').date().format('hh:mm a');
            var selectedDateTime = selectedDate + ' ' + selectedTime;
            return selectedDateTime;
        }
    </script>    
    }